<header class="container">
  <div class="header">
    <h1>adamkeyes</h1>
    <div class="image-logo">
        <img src="../../../assets/icon-github.svg" alt = "github logo">
        <img src="../../../assets/icon-frontend-mentor.svg" alt = "frontend metor logo">
        <img src="../../../assets/icon-linkedin.svg" alt = "linkedin logo">
        <img src="../../../assets/icon-twitter.svg" alt = "twitter logo">
    </div>
  </div>
  <img class="image-profile" src="../../../assets/image-profile-desktop.webp">
  <div class="title">
    <h2>Nice to meet you!</h2>
    <h2>I'm <em> Adam Keyes.</em></h2>
    <p>based in the UK, I'm a front-end developer</p>
    <p>passionate about building accessible web apps</p>
    <p>that users love.</p>
  </div>
  <div class="cotactme">
    <p>contact me</p>
  </div>
</header>
