$primaryfontfamily: Space Grotesk;
$primaryfontsize: 32px;
$primaryletterspacing: -0,44px;
$whitecolor: #FFFFFF;
$greencolor: #4EE1A0;
$blackcolor: #151515;
$darkgrey:  #242424;
$secondaryfontsize: 88px;
$secondaryletterspacing: -2,5px;
$graycolor: #D9D9D9;
$mediumfontsize: 18px;
$noletterspcacing: 0px;
$smallfontsize: 16px;
$contactletterspacing: 2.29px;



*{
  margin: 0;
  padding: 0;

}

.container {
  font-family: $primaryfontfamily;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $blackcolor;
  color: white;
  .header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .image-logo {
     display: flex;
     justify-content: space-between;
     width: 192.49px;
     z-index: 10;
    }
    img {
      width: 24.61px;
      height: 24px;
    }
    h1 {
      left: 165px;

    }
  }
  .image-profile {
    width: 445px;
    height: 720px;

  }
  .title {
    display: flex;
    justify-content: space-between;
    width: 706px;
    height: 303px;
    left: 165px;
    top: 198px;

    h2 {
      width: 709px;
      height: 88px;
      left: calc(50% - 709px/2 + 1.5px);
      top: calc(50% - 88px/2 - 107.5px);
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 700;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
      color: #FFFFFF;
    }
  }
}
