$primaryfontfamily: Space Grotesk;
$primaryfontsize: 32px;
$primaryletterspacing: -0,44px;
$whitecolor: #FFFFFF;
$greencolor: #4EE1A0;
$blackcolor: #151515;
$darkgrey:  #242424;
$secondaryfontsize: 88px;
$secondaryletterspacing: -2,5px;
$graycolor: #D9D9D9;
$mediumfontsize: 18px;
$noletterspcacing: 0px;
$smallfontsize: 16px;
$contactletterspacing: 2.29px;



*{
  margin: 0;

}

.container {
  font-family: $primaryfontfamily;
  display: flex;
  flex-direction: column;
  background-color: $blackcolor;
  color: white;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .image-logo {
      position: absolute;
      width: 192.49px;
      height: 25px;
      left: 1053px;
      top: 43px;
    }
    img {
      width: 24.61px;
      height: 24px;
    }
  }
  .image-profile {
    position: absolute;
    width: 445px;
    height: 720px;
    left: 830px;
    top: 0px;
  }
  .title {
    position: absolute;
    width: 706px;
    height: 303px;
    left: 165px;
    top: 198px;
    background: $blackcolor;
    h2 {
      width: 709px;
      height: 88px;
      left: calc(50% - 709px/2 + 1.5px);
      top: calc(50% - 88px/2 - 107.5px);
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 700;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
      color: #FFFFFF;
    }
  }
}
