//profile - destop

$primaryfontfamily: Space Grotesk;
$primaryfontsize: 32px;
$primaryletterspacing: -0,44px;
$whitecolor: #FFFFFF;
$greencolor: #4EE1A0;
$blackcolor: #151515;
$secondaryfontsize: 88px;
$secondaryletterspacing: -2,5px;
$graycolor: #D9D9D9;
$mediumfontsize: 18px;
$noletterspcacing: 0px;
$smallfontsize: 16px;
$contactletterspacing: 2.29px;


//skills - destop

$skillsfontsize: 48px;




